{#
/**
 * @file
 * Template file for the FAQ page if set to show categorized questions in squares.
 * 
 * Available variables:
 * - display_header: Boolean value controlling whether a header should be displayed.
 * - header_title: The category title.
 * - header_a_id: The id of the subcategory used for the internal link
 * - category_depth: The term or category depth.
 * - description: The current page's description.
 * - term_image: The HTML for the category image. This is empty if the taxonomy image module
 *   is not enabled or there is no image associated with the term.
 * - display_faq_count: Boolean value controlling whether or not the number of faqs in a category
 *   should be displayed.
 * - question_count: The number of questions in category.
 * - nodes: The array of nodes to be displayed. Each node stored in the $nodes array has the following information:
 *   - question: The question text.
 *   - body: The answer text.
 *   - links: Represents the node links, e.g. "Read more".
 * - question_label: The question label, intended to be pre-pended to the question text.
 * - answer_label: The answer label, intended to be pre-pended to the answer text.
 * - use_teaser: Tells whether $node['body'] contains the full body or just the teaser
 * - container_class: The class attribute of the element containing the sub-categories, either
 *   'faq-qa' or 'faq-qa-hide'. This is used by javascript to open/hide
 *   a category's faqs.
 * - subcat_list: An array of sub-categories.  Each sub-category stored in the $subcat_list
 *   array has the following information:
 *   - link: The link to the sub-category.
 *   - description: The sub-category description.
 *   - count: The number of questions in the sub-category.
 *   - term_image: The sub-category (taxonomy) image.
 * - subcat_list_style: The style of the sub-category list, either ol or ul (ordered or unordered).
 * - subcat_body_list: The sub-categories faqs, recursively themed (by this template).
 * 
 * @see template_preprocess_faq_category_questions_squares()
 * 
 * @ingroup themable
 */
#}

{% if category_depth > 0 %}
    {% set hdr = 'h4' %}
{% else %}
    {% set hdr = 'h3' %}
{% endif %}

<div class="faq-category-group">
    <!-- category header with title, link, image, description, and count of questions inside -->
    <div class="faq-qa-header">
        {% if description is not empty %}
            <div class="faq-qa-description">{{ description }}</div>
        {% endif %}
        {% if term_image is not empty %}
            <div class="clear-block"></div>
        {% endif %}
    </div><!-- Close div: faq-qa-header -->
    
    <!-- list subcategories, with title, link, description, count in squares -->
    {% if subcat_list is not empty %}
        <div class="container">
            <ul style="list-style-type: none">
                {% for subcat in subcat_list %}
                    <li>
                        <i class="fas fa-check"></i>
                        {{ subcat.link }}
                        {% if display_faq_count %}
                            ({{ subcat.count }})
                        {% endif %}
                    </li>
                    {% if subcat.description is not empty %}
                        <div class="faq-qa-description">{{ subcat.description }}</div>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    
    <div id="tocscope" class="{{ container_class }}">
        <!-- include subcategories -->
        {% if subcat_body_list|length > 0 %}
            {% for subcat_html in subcat_body_list %}
                <div>{{ subcat_html }}</div>
            {% endfor %}
        {% endif %}
        
        <!-- list questions and answer pairs in a square -->
        <div>
            {% if nodes|length > 0 %}
                <div class="container px-0">
                    <section class="bg-light rounded py-5" id="{{ header_a_id }}">
                        <p class="float-right">
                            <a href="#header">To top</a>&nbsp;&nbsp;
                            <a href="#header"><i class="fas fa-angle-up"></i></a>&nbsp;&nbsp;&nbsp;
                        </p>
                        {% if display_header %}
                            <{{ hdr }} class="faq-header text-center">
                                {{ term_image }}
                                {{ header_title }}
                            {% if display_faq_count %}
                                ({{ question_count }})
                            {% endif %}
                            </{{ hdr }}>
                        {% else %}
                            {{ term_image }}
                        {% endif %}
                        <div class="card-columns p-4"> 
                            {% for node in nodes %}
                                <div class="card border-0">
                                    <div class="faq-box faq-box--shadowed white-bg style-2">
                                        <div class="card-body">
                                            <h6 class="font-weight-bold my-2">{{ node.question }}</h6>
                                            <div class="small">{{ node.body | replace({'<h1': '<h7', '<h2': '<h7', '<h3': '<h7', '<h4': '<h7', '<h5': '<h7', '<h6': '<h7', '</h1': '</h7', '</h2': '</h7', '</h3': '</h7', '</h4': '</h7', '</h5': '</h7', '</6': '</h7'}) | raw }}
                                                {% if node.links is defined %}
                                                    {{ node.links }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            {% endif %}
        </div><!-- Close div -->   
    </div><!-- Close div: faq-qa / faq-qa-hide -->
</div><!-- Close div: faq-category-group -->
<div class="mt-4" style="height: 50px;"></div>
<style>

.card-body {
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    max-height: 300px;
    overflow:hidden;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 1 !important;
        -moz-column-count: 1 !important;
        column-count: 1 !important;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2 !important;
        -moz-column-count: 2 !important;
        column-count: 2 !important;
    }
}

    /* Faq box
---------------------------------- */
.row {
    padding: 15px;
  }

  .faq-box .body {
    padding: 15px;
  }
  
  .faq-box .body p:last-child {
    margin-bottom: 0;
  }
  
  .faq-box.style-4 {
    border: none;
  }
  
  .faq-box.style-3-b {
    display: block;
    margin-bottom: 40px;
  }
  
  .faq-box.style-3-b .body {
    padding: 10px 0;
  }
  
  .faq-box--shadowed {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
  }
  
  .faq-box--shadowed:hover {
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  }
  
  /* Medium devices (tablets, laptops, smartphones 768px and up) */
  @media (min-width: 768px) {
    .faq-box.style-3-b .body {
      padding: 0;
    }
  }
  
  /* Medium devices (desktops, tablets less than 991px) */
  @media (max-width: 991px) {
    .faq-box.style-4 {
      margin-bottom: 30px;
    }
  }
  
  .white-bg {
    background-color: #ffffff;
  }
</style>